<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ewlive.mapper.SysDicMapper">

	<!--字典基础列-->
	<sql id="Base_Column_List">
		sys_dic.id,
		sys_dic.dic_name as dicName,
		sys_dic.create_user_id as createUserId,
		sys_dic.create_time as createTime,
		sys_dic.update_user_id as updateUserId,
		sys_dic.update_time as updateTime,
		sys_dic.comment
	</sql>
</mapper>