<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ewlive.mapper.SysDicItemMapper">

	<!--字典项基础列-->
	<sql id="Base_Column_List">
		sys_dic_item.id,
		sys_dic_item.dic_id as dicId,
		sys_dic_item.dic_item_name as dicItemName,
		sys_dic_item.create_user_id as createUserId,
		sys_dic_item.create_time as createTime,
		sys_dic_item.update_user_id as updateUserId,
		sys_dic_item.update_time as updateTime,
		sys_dic_item.comment
	</sql>

	<!--添加字典项-->
	<insert id="addSysDicItem"  parameterType="SysDicItem">
		insert into sys_dic_item
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">id,</if>
			<if test="dicId != null">dic_id,</if>
			<if test="dicItemName != null">dic_item_name,</if>
			<if test="createUserId != null">create_user_id,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateUserId != null">update_user_id,</if>
			<if test="updateTime != null">update_time,</if>
			<if test="comment != null">comment,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null ">#{id},</if>
			<if test="dicId != null ">#{dicId},</if>
			<if test="dicItemName != null ">#{dicItemName},</if>
			<if test="createUserId != null ">#{createUserId},</if>
			<if test="createTime != null ">#{createTime},</if>
			<if test="updateUserId != null ">#{updateUserId},</if>
			<if test="updateTime != null ">#{updateTime},</if>
			<if test="comment != null ">#{comment},</if>
		</trim>
	</insert>

	<!--根据Id修改字典项-->
	<update id="updateSysDicItemById" parameterType="SysDicItem">
		update sys_dic_item
		<set>
			<if test="dicId != null">dic_id=#{dicId},</if>
			<if test="dicItemName != null">dic_item_name=#{dicItemName},</if>
			<if test="createUserId != null">create_user_id=#{createUserId},</if>
			<if test="createTime != null">create_time=#{createTime},</if>
			<if test="updateUserId != null">update_user_id=#{updateUserId},</if>
			<if test="updateTime != null">update_time=#{updateTime},</if>
			<if test="comment != null">comment=#{comment},</if>
		</set>
		where id=#{id}
	</update>
</mapper>